#mainslider {
   width: 940px; /* important to be same as image width */ 
   height: 400px; /* important to be same as image height */
   position: relative; /* important */
   overflow: hidden; /* important */	
}

#mainsliderContent {
   width: 940px; /* important to be same as image width or wider */
   height: 400px;
   position: absolute; /* important */
   top: 0; /* important */
   margin-left: 0; /* important */	
}

.mainsliderImage {
   float: left; /* important */
   position: relative; /* important */
   display: none; /* important */	
}

.mainsliderImage span {
   position: absolute; /* important */
   left: 0;
   font: 10px/15px Arial, Helvetica, sans-serif;
   width: 940px;
   background-color: #000;
   filter: alpha(opacity=70); /* here you can set the opacity of box with text */
   -moz-opacity: 0.7; /* here you can set the opacity of box with text */
   -khtml-opacity: 0.7; /* here you can set the opacity of box with text */
   opacity: 0.7; /* here you can set the opacity of box with text */
   color: #fff;
   display: none; /* important */
   bottom: -35px;	
}

.mainsliderImage span h4 {
   	margin-right: 100px;
    padding-top: 10px;  
    font-size:16px;
	color:#fff;
	text-align: right;
}

.mainsliderImage span h3 {
 	margin-right: 50px;
    padding-bottom: 10px;  
    font-size:22px;
	color:#1DCCEF;
	text-align: right;
}

#jazzslider {
   width: 396px; /* important to be same as image width */ 
   height: 296px; /* important to be same as image height */
   position: relative; /* important */
   overflow: hidden; /* important */	
}

#jazzsliderContent {
   width: 396px; /* important to be same as image width or wider */
   height: 296px;
   position: absolute; /* important */
   top: 0; /* important */
   margin-left: 0; /* important */	
}

.jazzsliderImage {
   float: left; /* important */
   position: relative; /* important */
   display: none; /* important */	
}

.jazzsliderImage span {
   position: absolute; /* important */
   left: 0;
   font: 10px/15px Arial, Helvetica, sans-serif;
   width: 396px;
   background-color: #000;
   filter: alpha(opacity=70); /* here you can set the opacity of box with text */
   -moz-opacity: 0.7; /* here you can set the opacity of box with text */
   -khtml-opacity: 0.7; /* here you can set the opacity of box with text */
   opacity: 0.7; /* here you can set the opacity of box with text */
   color: #fff;
   display: none; /* important */
   bottom: -35px;	
}

#s3slider { 
   width: 396px; /* important to be same as image width */ 
   height: 263px; /* important to be same as image height */
   position: relative; /* important */
   overflow: hidden; /* important */
}

#s3sliderContent {
   width: 396px; /* important to be same as image width or wider */
   height: 263px;
   position: absolute; /* important */
   top: 0; /* important */
   margin-left: 0; /* important */
}

.s3sliderImage {
   float: left; /* important */
   position: relative; /* important */
   display: none; /* important */
}

.s3sliderImage span {
   position: absolute; /* important */
   left: 0;
   font: 14px Arial, Helvetica, sans-serif;
   text-align: right;
   padding: 10px 13px;
   width: 370px;
   font-weight: bold;
   background-color: #000;
   filter: alpha(opacity=70); /* here you can set the opacity of box with text */
   -moz-opacity: 0.7; /* here you can set the opacity of box with text */
   -khtml-opacity: 0.7; /* here you can set the opacity of box with text */
   opacity: 0.7; /* here you can set the opacity of box with text */
   color: #fff;
   display: none; /* important */
   bottom: -35px;
}


#facility { 
   width: 796px; /* important to be same as image width */ 
   height: 529px; /* important to be same as image height */
   position: relative; /* important */
   overflow: hidden; /* important */
}

#facilityContent {
   width: 796px; /* important to be same as image width or wider */
   height: 529px;
   position: absolute; /* important */
   top: 0; /* important */
   margin-left: 0; /* important */
}

.facilityImage {
   float: left; /* important */
   position: relative; /* important */
   display: none; /* important */
}

.facilityImage span {
   position: absolute; /* important */
   left: 0;
   font: 10px/15px Arial, Helvetica, sans-serif;
   padding: 10px 13px;
   width: 796px;
   background-color: #000;
   filter: alpha(opacity=70); /* here you can set the opacity of box with text */
   -moz-opacity: 0.7; /* here you can set the opacity of box with text */
   -khtml-opacity: 0.7; /* here you can set the opacity of box with text */
   opacity: 0.7; /* here you can set the opacity of box with text */
   color: #fff;
   display: none; /* important */
   bottom: 0px;
}

.facilityImage span h4 {
   	margin-right: 100px;
    padding: 10px;  
    font-size:18px;
	color:#fff;
	text-align: right;
}


.clear {
   clear: both;
}
